page-login {
    .avatar{
       
        max-height: 20%;
        max-width: 40%;
        margin: auto;
     }
     .Mobile{

     }
     .Password{
         
     }
     .card-md {
      
        border-radius: 5px;
       
      }
}
