

@import url('https://fonts.googleapis.com/css?family=Amaranth|Baloo+Tammudu|Kanit:400,400i,700|Kosugi+Maru|Prompt:400,400i,700|Roboto+Mono:400,400i,500,500i,700,700i|Volkhov&subset=thai');
@import url('http://58.97.34.218:88/gzonhub/css/pure-min.css');
page-home {
span.matchhost{
    font-family: Kanit; 
    color: rgb(64, 64, 250) ;
    font-size: 12px;
    cursor: pointer;
}
span.matchvisit{
    font-family: Kanit; 
    color: rgb(235, 30, 3) ;
    font-size: 12px;
    cursor: pointer;
}
span.matchvs{
    font-family: Roboto+Mono;  
    font-style: italic;
    color: rgb(13, 13, 14);
    font-size: 10px;
}
span.rate{
    font-family: Amaranth; 
    font-style: italic;
    font-size: 12px;
    cursor: pointer;
   
}
span.label{
    font-family: Prompt; 
   
}
span.matchtime{
    font-family: Roboto+Mono;  
    font-style: italic;
    font-size: 12px;
}
}
